*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: rgb(58, 0, 0);
    background: radial-gradient(circle, rgb(70, 33, 2) 0%, rgb(22, 12, 0));
}

.content-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.btnIndex{
    text-decoration: none;
    background-color: rgb(210, 91, 0);

    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btnIndex:hover{
    transition: 500ms;
    background-color: rgb(126, 65, 19);
}

.box-btn{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.cadastrar{
    width: 100%;
    margin-bottom: 10px;
    
}

.selectUser{
    padding: 10px;
    border-radius: 5px;
    
}


.procurarDevs{
    width: 50%;
    margin-left: 10px;
}

.contentBtns{
    width: 60%;
    margin: auto;
}
