*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,41,51,1) 100%);
}

.content-box{
    padding: 20px;
    margin: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.btn-index{
    text-decoration: none;
    background-color: rgb(0, 98, 210);
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.btn-index:hover{
    transition: 500ms;
    background-color: rgb(50, 136, 234);
}