*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(58, 0, 0);
    background: radial-gradient(circle, rgb(70, 33, 2) 0%, rgb(22, 12, 0));
    display: flex;
    justify-content: center;
    justify-items: center;
}

.boxContent{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin: 3%;
    padding: 15px;
    border-radius: 20px;
    width: 60%;
}

/* FORM INPUTS DE TEXTO */

.formInfo{
    justify-content: center;
    justify-items: center;
    padding: 10px;
}

.inputtext{
    width: 60%;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}

/* FORM PERGUNTAS */

/* Estilo para esconder os inputs de rádio */
input[type="radio"] {
    display: none;
}

/* Estilo para labels selecionadas */
.selectedLabel {
    transition: 500ms;
    background-color: rgb(210, 91, 0);
    color: white;
}

.selectedLabel:hover {
    background-color: rgb(212, 138, 81);
}

/* Estilo para as labels */
.perguntas {
    margin-top: 40px;
}

label {
    border-radius: 5px;
    margin: 5px;
    display: block;
    padding: 10px;
    border: 1px solid #bfbfbf;
    cursor: pointer;
}

label:hover{
    transition: 500ms;
    background-color: rgba(223, 223, 223, 0.955);
}

.btnCadastrar{
    width: 60%;
    padding: 10px;
    margin: 20px;
    background-color: rgb(212, 138, 81);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btnCadastrar:hover{
    transition: 500ms;
    background-color: rgb(210, 91, 0);
}




